# Node modules
node_modules/

# Local environment files
.env
.env.local

# Build files
.next/
out/

# OS files
.DS_Store
Thumbs.db

# Uploaded images (don’t track)
public/schoolImages/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
